@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/* PLACEHOLDER*/
/* NAVBAR*/
.menu {
  background-color: #d6abb3;
}

.menu .itemsNavegacion {
  font-size: 25px;
  font-family: 'Poppins';
  width: 70%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* OPERACION Y MIXIN*/
}

@media screen and (max-width: 768px) {
  .menu .itemsNavegacion {
    font-size: 20px;
  }
}

.menu .itemsNavegacion li a:hover {
  text-decoration: underline;
}

body {
  background-color: #f0d0d5;
}

/*PRIMERA SECCION HERO SECTION*/
#seccion_hero_container {
  min-width: 100%;
  height: auto;
  font-family: 'Poppins';
}

#seccion_hero_container #seccion_hero_parrafo h1 {
  font-size: 30px;
  font-weight: bold;
}

#seccion_hero_container #seccion_hero_parrafo h2 {
  font-size: 20px;
}

#seccion_hero_container #seccion_hero_parrafo p {
  font-size: 15px;
}

@media screen and (max-width: 1024px) {
  #seccion_hero_container #seccion_hero_parrafo p {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  #seccion_hero_container #seccion_hero_parrafo p {
    font-size: 12px;
  }
}

#seccion_hero_container #seccion_hero_parrafo .boton__hero {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion__parrafo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

.hero_section {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.hero_section video {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.contenido_video {
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-blend-mode: soft-light;
  z-index: 1;
  padding-bottom: 1rem;
}

.contenido_video h2 {
  color: white;
}

/*SEGUNDA SECCION CARDS*/
#container__cards {
  /*Aplicando Placeholder*/
  background-image: url(../imagenes/backgroundmain2.jpg);
  padding: 3rem;
  font-family: 'Poppins';
}

@media screen and (max-width: 768px) {
  #container__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*TERCERA SECCION VIDEO*/
.video__main {
  font-family: 'Poppins';
}

.video__main .video__parrafo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

.video__main .video__parrafo p {
  text-align: center;
}

/*CUARTA SECCION*/
.contenido_padre {
  background-color: #e5989b;
}

.contenido_padre .contenido {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 2;
}

.contenido_padre .contenido p {
  padding-top: 1.5rem;
}

.contenido_padre .contenido img {
  padding-top: 2rem;
}

/*FOOTER*/
.footer {
  background-color: #d6abb3;
  min-width: 100%;
  font-family: 'Poppins';
}

.footer__copyright {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.5rem;
}

.footer__copyright p {
  font-weight: bold;
  font-size: 12px;
}

body {
  font-family: 'Poppins';
}

body .banner_nosotros h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  padding: 2rem;
  background-image: url(../imagenes/yoga_background_nosotros.jpg);
  color: black;
}

@media screen and (max-width: 425px) {
  body .banner_nosotros h1 {
    font-size: 45px;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.container-fluid .nosotros_texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  line-height: 2;
}

body {
  background-color: #f0d0d5;
  font-family: 'Poppins';
}

body .card-img-overlay h5 {
  font-size: 30px;
}

@media screen and (max-width: 991px) {
  body .card-img-overlay h5 {
    font-size: 15px;
  }
}

@media screen and (max-width: 991px) {
  body .card-img-overlay p {
    font-size: 10px;
  }
}

@media screen and (max-width: 991px) {
  body .card-img-overlay button {
    font-size: 10px;
  }
}

.main__contacto {
  font-family: 'Poppins';
  background-color: #f0d0d5;
}

.aranceles_body {
  background-color: #f0d0d5;
}

/*
.aranceles_contenedor{
    background-image: url(/imagenes/background-aranceles.jpg);
    opacity: 0.5;
    padding: 5rem;

    h1{
        font-size: 70px;
    }
}
*/
.aranceles_contenedor {
  font-weight: bold;
  display: block;
  position: relative;
}

.aranceles_contenedor h1 {
  font-size: 70px;
}

@media screen and (max-width: 425px) {
  .aranceles_contenedor h1 {
    font-size: 40px;
  }
}

.aranceles_contenedor::after {
  content: "";
  background-image: url(/imagenes/background-aranceles.jpg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=styles.css.map */