
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import "./variables";
@import "./mixins";

/* PLACEHOLDER*/
%center{ 
    justify-content: center;
    align-items: center;
}

/* NAVBAR*/
.menu{
        background-color:rgb(214, 171, 179);
            .itemsNavegacion{
                font-size: $fuenteNav;
                font-family:'Poppins';
                width: 70%;
                justify-content: space-around;
                align-items: center;
                /* OPERACION Y MIXIN*/
                @include tablet {
                font-size: $fuenteNav - 5;
            }
                    li a:hover{
                        text-decoration: underline;

            }
    }
}

body{
    background-color: $rosa;
}
/*PRIMERA SECCION HERO SECTION*/
#seccion_hero_container{
    min-width: 100%;
    height: auto;
    
    font-family: 'Poppins';
        #seccion_hero_parrafo{
            h1{
                font-size: 30px;
                font-weight:bold;
        }
            h2{
                font-size: 20px;
        }
            p{
                font-size: 15px ;
                @include laptop{
                    font-size: 14px;
                }
                @include tablet{
                    font-size: 12px;
                }
        }
                .boton__hero{
                    justify-content: center;
                    align-items: center;
                }
                }
                }
        
.seccion__parrafo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.hero_section{
    overflow: hidden;
    width: 100%;
    height: 100%;

    video{
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.contenido_video{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-blend-mode: soft-light;
    z-index: 1;
    padding-bottom: 1rem;
        h2{
            color: white;
        }
    }

/*SEGUNDA SECCION CARDS*/
 #container__cards{
     /*Aplicando Placeholder*/
     background-image: url(../imagenes/backgroundmain2.jpg);
     padding: 3rem;
     font-family: 'Poppins';
     @include tablet {
     justify-content: center;
     align-items: center;
    }
 }

 /*TERCERA SECCION VIDEO*/
 .video__main{
     font-family: 'Poppins';
        .video__parrafo{
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
            p{
                text-align: center;
            }
        }
 }
/*CUARTA SECCION*/

.contenido_padre{
    background-color: #e5989b;
    .contenido{
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 2;
        p{
            padding-top: 1.5rem;
        }
        img{
            padding-top: 2rem;
        }
    }
}

 /*FOOTER*/
.footer{
    background-color: rgb(214, 171, 179);
    min-width: 100%;
    font-family: 'Poppins';
        &__copyright{
            align-items: center;
            padding-top: 0.5rem;
            p{
                font-weight: bold;
                font-size: 12px;
            }
        }
    }
    
    



    

    







        




