@import "./variables";
@import "./mixins";
@import "./inicio";
@import "./nosotros";
@import "./clases";
@import "./contacto";
@import "./aranceles";

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}





